---
import { Image } from "astro:assets";
const {aboutText , aboutPhotoUrl} = Astro.props;
const photoUrl = `${aboutPhotoUrl}`
---
<div id="about">
    <p>{aboutText}</p>
    <Image class="image" src={photoUrl} alt="image" width="600" height="600"/>
</div>