---
import About from "../../components/About.astro";
import Hero from "../../components/Hero.astro";
import Layout from "../../layouts/Layout.astro";
import fetchApi from "../../lib/strapi";
export function getStaticPaths() {
  return [
    { params: { lang: "ar", version: "v2" } },
    { params: { lang: "en", version: "v1" } },
  ];
}
const { lang } = Astro.params;
const pageData = await fetchApi({
  endpoint: "pages",
  page: "LandingPage",
  wrappedByKey: "data",
  locale: lang,
});
const heroData = pageData.find((pd) => pd.__component === "hero.hero");
const { heroText, heroDescription } = heroData;

const aboutData = pageData.find((pd) => pd.__component === "about.about");
const { aboutText } = aboutData || {};
const { aboutPhoto } = aboutData;
const { url } = aboutPhoto[0];
---

<Layout>
  {
    !pageData ? (
      <div>No Data Found!!!</div>
    ) : (
      <section id="homePage">
        <Hero {heroText} {heroDescription} />
        <div id="separator" />
        <About {aboutText} aboutPhotoUrl={url}/>
      </section>
    )
  }
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const select = document.querySelector("#languageSelect");

    // Set the dropdown value to the current language on page load
    const currentUrl = new URL(window.location.href);
    const currentLang = currentUrl.pathname.split("/").slice(-2, -1)[0];
    select.value = currentLang; // Sync the select dropdown with the current language

    // Add event listener for the select dropdown
    select.addEventListener("change", (event) => {
      const selectedLang = event.target.value;

      // Construct the new URL with the selected language
      const segments = currentUrl.pathname.split("/");
      const version = segments[segments.length - 1]; // Preserve version parameter
      segments[segments.length - 2] = selectedLang; // Update the language
      const newPath = segments.join("/");

      // Navigate to the updated URL
      window.location.href = newPath;
    });
  });
</script>
